.cart {
  @include mixin-dashboard;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: auto;

    &__items {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      &-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;

        .v-data-table,
        .v-card {
          width: 90% !important;
        }
      }
    }

    &__shipping {
      width: 100%;
      display: flex;
      flex-direction: column;

      .v-input__control {
        max-width: 180px;
      }
    }
  }
}
