.order-detail {
  @include mixin-dashboard;
  justify-content: start;
  padding: $padding-xl 0;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: auto;

    &__items {
      &-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
}
