.store {
  @include mixin-dashboard;

  .v-data-table,
  .v-card {
    width: 95% !important;
  }

  .v-data-table {
    tr {
      cursor: pointer;
    }
  }

  &__list {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
