@import './variables.scss';

// mixins
@import './mixin/dashboard-background.scss';

// utility
@import './utility/button.scss';
@import './utility/container.scss';
@import './utility/txt.scss';

// pages
@import './page/index.scss';
@import './page/login.scss';
@import './page/signup.scss';
@import './page/products.scss';
@import './page/product-detail.scss';
@import './page/dashboard/profile.scss';
@import './page/dashboard/orders.scss';
@import './page/dashboard/order-detail.scss';
@import './page/dashboard/add-product.scss';
@import './page/dashboard/add-store.scss';

// components
@import './component/card.scss';
@import './component/footer.scss';
@import './component/line.scss';
@import './component/navbar.scss';
@import './component/review.scss';
@import './component/filter-panel.scss';
@import './component/order-item.scss';
@import './component/item-info.scss';

// layouts
@import './layout/dashbaord.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

::before,
::after {
  box-sizing: border-box;
}

html {
  overflow-y: auto !important;
}

.theme--light.v-application {
  background: none !important;
}

body {
  background-color: $color-primary !important;
  color: $color-text;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 12px !important;
}

::-webkit-scrollbar-track {
  background: lighten(rgb(255, 255, 255), 5%);
  border-radius: 12px !important;
}

::-webkit-scrollbar-thumb {
  background: lighten(rgb(44, 0, 85), 15%);
  border-radius: 12px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

ul {
  list-style-type: none !important;
}

a {
  text-decoration-line: none !important;
  color: black !important;
}

.v-btn:before {
  background-color: inherit !important;
}
