// padding
$padding-sm: 8px;
$padding-md: 16px;
$padding-lg: 24px;
$padding-xl: 32px;

// colors
$color-primary: #e4dccf;
$color-secondary: #f0ebe3;
$color-text: #7d9d9c;

// font-size
$font-size-sm: 8px;
$font-size-md: 16px;
$font-size-lg: 24px;
$font-size-xl: 32px;

// breakpoints
$bp-sm: 960px;
$bp-md: 1264px;

// border
$border-radius-md: 16px;

// navbar
$top-nav-height: 80px;
