.container {
  padding: $padding-md $padding-lg !important;
  margin: 0 !important;
  max-width: 100% !important;
}

.bg-primary {
  background-color: $color-primary !important;
}

.bg-secondary {
  background-color: $color-secondary !important;
}
