.filter-panel {
  &-wrapper {
    position: sticky;
    top: $top-nav-height;
    left: 0;
    width: 320px;
    height: 90vh;
    overflow-y: auto;
  }

  padding: $padding-xl $padding-md;
  background-color: white;

  &__item {
    .v-input--selection-controls {
      margin: $padding-sm 0;
    }

    .v-input__slot {
      margin: 0;
    }

    &__title {
      padding-bottom: $padding-sm;
    }

    &__options {
      display: flex;
      flex-wrap: wrap;
    }

    &__option {
    }
  }
}
