.order-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  padding: $padding-md;
  margin: $padding-md 0;
  border-radius: $border-radius-md;
  background-color: $color-primary;
  cursor: pointer;
  border: 2px solid white;

  &:hover {
    border: 2px solid blue;
  }
}
